<div id="login" class="container">
  <div class="row-fluid login">
    <div class="span12">

      <form action="/auth/login" method="POST" id="form-container" class="form-groupL shadow p-3 mb-5 bg-white rounded">
        <h2 class="text-login">Iniciar sesión</h2>

        <div class="form-group ">
          <label for="username">Usuario</label>
          <input id="username" type="text" name="username" placeholder="JonSnow" class="form-control">
        </div>



        <div class="form-group">
          <label for="password">Contraseña</label>
          <input id="password" type="password" name="password" placeholder="Contraseña" class="form-control">
        </div>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}



        <a {{#if user.isRestaurant}} href="/profile/privateProfile" {{else}} href="/profile/customerProfile" {{/if}}></a><button
          class="btn btn-primary" button type="submit">Iniciar sesión</button>

        <p class="form-text text-muted form-group"></p>
        ¿No eres usuario aún?
        <a href="/auth/signup">Regístrate</a>
        </p>
      </form>
    </div>
  </div>
</div>