<h1 class='title'>{{title}}</h1>
<section class='indexsection'>
  <div class='welcome '> 
  Encuentra a tus clientes favoritos: educados, generosos y perfumados... y si eres uno de ellos, obten descuentos ;) 
  <br>
  <br>
  
  <a href="/auth/signup"><button type="submit" class="btn btn-primary">Regístrate</button></a> 
  </div>
  <div><img class='logo' src="https://res.cloudinary.com/dkdw7inpc/image/upload/v1538121412/trollAdvisor.png" alt=""></div>
</section>