//@import 'bourbon';

//general
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  background: #eee !important; 
}

img {
  background-size: cover;
  height: 200px;
}

a {
  color: #00B7FF; 
}

h1, h3 {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

//index
.indexsection {
padding-top: 100px;
padding-left: 20px;
}

.indexa {
  color: rgb(111, 112, 114); 
}

.welcome {
  display: inline-block;
  text-align: center;
  margin-left: 20vh;
  margin-top: 10vh;
  width: 38%;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  color: #abb2b9
}

.logo {
  float:right;
  margin-top: -35vh;
  margin-right: 20vh;
}

.title {
  margin-top: 40px;
  font-size: 80px;
  font-weight: bold;
  font-family: sans-serif
}


//login
.login {
  padding-top: 18vh;
  padding-left: 20vh;
  width: 200vh
}

//sign up
.signup {
  padding-top: 18vh;
  padding-left: 20vh;
  width: 200vh
}

//cards in perfils
.card1 img {
  width: 25%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%  
}

.card1 {
  text-align: center;
  margin-left: 20%
}


.card2 {
  margin-bottom: 20px;
} 

.j {
  background-color: #F0CA67!important;
}

.form-groupL {
  width: 40%;
}

.form-groupS {
  width: 35%;
}

.form-groupE {
  width: 45%;
}

.btn-primary {
  background-color: #F0CA67!important;
  border-color: #F0CA67!important;
}

//edit
.edit {
margin-left: 20px;
padding-top: 18vh;
padding-left: 20vh;
width: 200vh;
}

.editbutton {
  margin-left: 20px;
}

//privateprofile for customer:
.revanddis {
   margin-left: 22vh
 }

 //public reviews
 .publicrevanddis {
  margin-left: 62vh; 
  width: 40%;
 }
